<footer class="footer">
  <small>
    Solutions to <a href="http://projecteuler.net">Project Euler</a> problems 
    by Andrew Dixon
  </small>
  <nav>
    <ul>
      <li><%= link_to "About",   '#' %></li>
      <li><%= link_to "Contact", '#' %></li>
    </ul>
  </nav>
</footer>
